#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
	overflow: visible;
}

.swiper {
  width: 250px;
  height: 367px;
	background: transparent;
}

.swiper-slide {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
	color: white;
}

.swiper-slide:nth-child(1n) {
  background-color: transparent;
}

.swiper-slide:nth-child(2n) {
	background-color: transparent;
}

.swiper-slide:nth-child(3n) {
  background-color: transparent;
}

.swiper-slide:nth-child(4n) {
  background-color: transparent;
}

.swiper-slide:nth-child(5n) {
	background-color: transparent;
}

.swiper-slide:nth-child(6n) {
  background-color: transparent;
}

.swiper-slide:nth-child(7n) {
  background-color: transparent;
}

.swiper-slide:nth-child(8n) {
  background-color: transparent;
}

.swiper-slide:nth-child(9n) {
  background-color: transparent;
}

.swiper-slide:nth-child(10n) {
  background-color: transparent;
}
